<!DOCTYPE html>

<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width", inital-scale="1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/lavish-bootstrap.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
  {{> navigation}}
  <div class="container">
    <div class="peer">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <img src="/images/{{avatar}}" class="img-responsive">
        </div>

        <div class="col-xs-12 col-sm-9">
          <h1 class="col-xs-12 page-header">{{name}}
            <a class="col-xs-12 col-sm-3 col-md-2 btn btn-default pull-right" href="/edit-profile">Edit Profile</a>
          </h1>
          <div class="row-info">
            <b>Major</b> {{major}}
          </div>

          <div class="row-info">
            <b>Year</b> {{year}}
          </div>

          <div class="row-info">
            <b>Location</b> {{location}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-3">
            <b>Tentative schedule</b>
            {{#each days}}
            <div class="form-group">
              <label>{{day}}</label> {{from}}
              <label> to</label> {{to}}
            </div>
            {{/each}}
        </div>

        <div class="col-xs-12 col-sm-9">
            <div class="row"><b>Personal Bio</b><br>
							{{bio}}
						</div>

            <div class="row"><b>Team Roles</b><br>
							{{roles}}
						</div>
        </div>
    	</div>

	  </div>
	</div>

  <script src="/js/jquery-3.1.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
