<!DOCTYPE html>

<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width", inital-scale="1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/lavish-bootstrap.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
  {{> navigation}}
  <div class="container">
		<h1 class="page-header" align="center">{{courseName}}</h1>

    <div class="peer">
      <div class="row">
        <div class="col-sm-3">
          <img src="/images/{{avatar}}" class="img-responsive">
        </div>

        <div class="col-sm-9">
          <h1 class="page-header">{{name}}</h1>

          <div class="row-info">
            <b>Major</b> {{major}}
          </div>

          <div class="row-info">
            <b>Year</b> {{year}}
          </div>

          <div class="row-info">
            <b>Location</b> {{location}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
            <b>Tentative schedule</b>
            {{#each days}}
            <div class="form-group">
              <label>{{day}}</label> {{from}}
              <label> to</label> {{to}}
            </div>
            {{/each}}
        </div>

        <div class="col-sm-9">
            <div><b>Personal Bio</b><br>
							{{bio}}
						</div>
            <br>
            <div><b>Team Roles</b><br>
							{{roles}}
						</div>
        </div>
    	</div>

			<div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p><h3 class="panel-title">{{name}}'s Group</h3></p>
          </div>
          <div class="panel-body" id="currentGroup">
						{{#each members}}
              {{#if name}}
						    <p><a href="{{url}}" id="groupMember">{{name}}</a></p>
              {{else}}
                <h4>No group members!</h4>
              {{/if}}
					  {{/each}}
          </div>
        </div>
      </div>

    	<div class="row">
	      <center><a href="{{mailto}}" class="btn btn-default" role="button">Email {{name}}</a>
		      <span data-toggle="tooltip" data-placement="right" title="Add {{name}} to your group. If {{name}} already has group members, you will be adding them also.">
            <button type="button" class="btn btn-primary" id="joinGroupBtn" data-toggle="modal" data-target="#joinedGroupModal" onclick="joinGroup()" >Add to My Group</button>
          </span>
		      <div class="modal fade" id="joinedGroupModal" role="dialog">
		        <div class="modal-dialog" role="document">
		          <div class="modal-content">
		            <div class="modal-header">
		              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		            </div>

		            <div class="modal-body">
		             <i>{{name}}</i> has been added to your group! Check <b>My Groups</b> under My Account to view your groups!
		            </div>

		            <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Close</button>
		            </div>
		          </div>
		        </div>
		      </div>
	    	</center>
	      <br><a href={{courseUrl}}>Back</a>
	    </div>
	  </div>
	</div>

	<script>var courseId = '{{courseId}}', peerId = '{{id}}'</script>
  <script src="/js/jquery-3.1.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
	<script src="/js/peer.js"></script>
	<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93044675-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
